@import '../../base-styles/mixins.sass'
@import '../../base-styles/variables.sass'

.sell
    height: calc(100vh - 64px)
    margin-top: $navHeight
    background-color: rgba($lightGray, .3)

.sell__heading
    .heading__title
        padding: 5px 0
    .heading__subtitle
        padding: 5px 0

.sell__form
    width: 100%
    box-sizing: border-box
    padding: 0 20px

.sell__input
    width: 100%
    box-sizing: border-box
    list-style: none

.sell__input--textarea
    box-sizing: border-box
    width: 100%
    height: 100px
    resize: none

.field-error
    color: red
    width: 100%
    padding: 10px
.field__label
    display: inline-block
    width: 100%