@import '../../base-styles/mixins.sass'
@import '../../base-styles/variables.sass'
    
.homepage
    margin-top: $navHeight
    height: calc(100vh - 64px)
    background-color: rgba($lightGray, .3)
    position: relative
    overflow: hidden
    text-align: center

.homepage__text
    margin: 5% 10%
    font-size: 0.8em
    text-align: justify

.homepage__button
    padding: 5px 10px
    background: none
    border: 1px solid $mainGray